.keyboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}

.keyboard .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.25rem;
}

.keyboard .row .key {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #22213c96;
    color: #938fbc;
    background-color: #28274b;
    border-radius: 0.25rem;
    margin: 0.25rem;
}

.keyboard .row .key.action {
    width: 6rem;
}

.keyboard .row .key:hover {
    cursor: pointer;
}

.keyboard .row .key.green {
    background-color: #008a2b;
}

.keyboard .row .key.yellow {
    background-color: #c6b200;
}

.keyboard .row .key.grey {
    background-color: #535353;
}
